[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=/home/myvenv/bin/uwsgi -i /home/introduce/Final-Term-Project/.config/uwsgi/introduce.ini
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target